@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Baloo Paaji 2', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo-App{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(120, 50, 255) 0%, rgb(50, 150, 250) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container{
    width: 70%;
    height: 85%;
    border-radius: 30px;
    background: radial-gradient(circle at 10% 20%, rgb(92, 35, 207) 0%, rgb(27, 110, 194) 91%);
    padding: 20px;
    position: relative;
}
@media screen and (max-width:430px){
    .todo-container{
        width: 100vw;
        height: 100vh;
        background:transparent;
        border-radius: 0px;
    }
}
@media screen and (max-width:360px){
    .todo-container{
        padding:0px 20px;
        min-height: 100vh;
    }
}